/* Desktop */
.burgerMenuContainer {
  display: none;
}
.headerContainer {
  padding-top: 20px;
}
header {
  max-width: 1280px;
  margin: auto;
  grid-template-columns: 1fr 2fr;
}
nav {
  grid-column-start: 2;
  grid-column-end: 3;
  height: 80px;
  flex: 1 1 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* For mobile toggle */
  overflow: auto;
}
nav ul {
  display: flex;
}
nav ul li {
  padding: 4px;
  border-bottom: none;
}
nav ul li a {
  margin: 0 15px;
  border: none;
}
nav ul li a:hover {
  border-bottom: 3px solid #fff;
}
/* main content */
main {
  max-width: 1280px;
  margin: 0 auto 8rem auto;
}
.articles {
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.2rem;
  gap:40px;
}
a.shrink img {
  transform: scale(100%);
  transition: all 0.25s;
  filter: sepia(0%);
}
a.shrink:hover img{
  transform: scale(90%);
  filter: sepia(100%);
}
footer{
  position:fixed;
  bottom:0;
  width:100%;
}
 /* Rules for tablets */
@media only screen and (min-width: 680px) and (max-width: 1280px) {
  header h2 {
    color: #f00;
    padding: 10px;
  }
  main {
    padding: 0 10px;
  }
  .articles {
    font-size: 1rem;
  }
}
