/* mobile */
*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    padding:0;
    margin: 0;
}
.headerContainer{
    background: rgba(0,0,0,0.8);
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h2{
    color:#fff;
} 
header > div{
    padding:10px;
}
nav{
    flex: 1 1 100%;
    overflow: hidden;
    transition: max-height 0.5s;
    max-height:0;
}
nav.open {
    max-height: 500px;
    /* expands naturally */
}
nav ul{
    list-style: none;
    margin: 0;
    padding:0;
}
nav ul li{
    padding:8px 5px;
    border-bottom: 1px solid #ccc;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    display: block;
}
.burgerMenuContainer img {
    cursor: pointer;
    width: 32px;
    height: 32px;
}

/* default "menu" icon */
.burgerMenuContainer img {
    content: url("/images/whiteMenu.svg");
}

/* when open, show "close" icon */
.burgerMenuContainer img.open {
    content: url("/images/whiteClose.svg");
}
main{
    margin:0 10px
}
.articles{
    display: flex;
    flex-wrap:wrap;
}
.articles > div{
    flex:1 1 50%;
    padding-right: 10px;
}
.articles img{
    width:100%;
}

footer{
    background: rgba(0,0,0,0.8);
    margin-top: 40px;
    padding:40px;
}
footer > div > p{
    color:#fff;
    text-align: center;
    font-size:0.8rem;
}